apiVersion: apps/v1
kind: Deployment
metadata:
  name: eng-atestados-go
spec:
  replicas: 2
  selector:
    matchLabels:
      app: eng-atestados-go
  template:
    metadata:
      labels:
        app: eng-atestados-go
        version: v2.0.2 # Os arquivos do go serao gerados no container sem precisar copiar do localhost
    spec:
      containers:
      - name: eng-atestados-go
        image: tvilarim/eng-atestados-go:latest  # Substitua pela sua imagem publicada
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
